                           Data Types and Structures Questions

1. What are data structures, and why are they important?
>> data structure means organising and storing data in a computer to be used efficiently.      
they are important for various reasons like for efficiency,problem solving,scalabiltity,foundation of algorathms and code reusability.

2.  Explain the difference between mutable and immutable data types with examples?
>> mutable datatypes have their  values that can be changed after created. list,sets and dictionaries are  the example of mutable data type. while immutable data typed can not be modified once they are created examples are tuples,strings,floats and so on....

3. What are the main differences between lists and tuples in Python?
>> list are mutable datatypes while tuples are immutable that cannot be changed.

4. Describe how dictionaries store data?
>> dictionaries are used to store values in key:value pairs.
example=> student={"name":"vanshika","course":"data_analyst"}

5. Why might you use a set instead of a list in Python?
>> Lists and sets are similar, but in a list, if we store duplicate values, it can consume more memory. In contrast, sets automatically eliminate duplicates, which can help save memory.

6.  What is a string in Python, and how is it different from a list?
>> string is a sequence of characters,letters ,numbers,symbols enclosed in quotes they are immutable while list contain items of mixed types that are mutable.

7. How do tuples ensure data integrity in Python?
>> tuples are immutable that prevents any intentional or accidental changes that keeps data secure and maintains data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?
>> harsh table is a way to store data so that you can quickly find values using keys. In dictionary we use harsh table to access,remove and add items quickly by their keys.

9. Can lists contain different data types in Python?
>> list can contain different data types that can be characters,letters,numbers,symbols that can be changed after creation

10. Explain why strings are immutable in Python
>> strings are immutable because it makes them efficient,and easier to manage.

11. What advantages do dictionaries offer over lists for certain tasks?
>>  dictionaries lets you access quick values using keys making it more efficient and faster than list

12. Describe a scenario where using a tuple would be preferable over a list ?
>> if you want to store an unchangable amd fixed data that shouldn't be modified in this case tuple is more preferable than list

13.  How do sets handle duplicate values in Python?
>>  in python sets automatically remove duplicate values and they only store unique elements.if you add duplicates then sets just keeps one copy and ignore the rest.

14.  How does the “in” keyword work differently for lists and dictionaries?
>>   for list "in" keyword checks if the value exist in a list while for dictionary "in" keyword checks the key not a value.

15. Can you modify the elements of a tuple? Explain why or why not?
>>  no, we can not modify the elements in tuples as because they are immutable and we only use tuples if we want to store an unchangable data.

16. What is a nested dictionary, and give an example of its use case?
>>   nested dictionaries is a dictionary where values themselves are dictionaries.          
student={"name":"vanshika","age":20,"grades":{"maths":80,"python":100:"english":90}}

17. Describe the time complexity of accessing elements in a dictionary?
>>  accessing elements in dictionaries is quick takes same time no matter how big dictionary is called 0(1)time. because it uses a special system called harsh table.

18. In what situations are lists preferred over dictionaries?
>>   lists are more preferable than dictionaries when you want to access elements by their position but not with their key values.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
>>  dictionaries considered unordered because their items don't have fixed order but you can retrieve values by using keys

20. Explain the difference between a list and a dictionary in terms of data retrieval?
>>   in list you can retrieve data by index numbers and in dictionary you can retrieve by using unique keys.

                                                       PRACTICAL QUESTIONS

In [ ]:
#Write a code to create a string with your name and print it.
name=('vanshika')
print(name)

vanshika

In [ ]:
#Write a code to find the length of the string "Hello World".
string="hello world"
len(string)

11

In [ ]:
#Write a code to slice the first 3 characters from the string "Python Programming"
string="python programming"
sliced_string=string[:3]
print(sliced_string)

pyt

In [ ]:
#Write a code to convert the string "hello" to uppercase?
string="hello"
uppercase_string=string.upper()
print(uppercase_string)

HELLO

In [ ]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple".
string0="i like apple"
string1= string0.replace("apple","orange")
print(string1)

i like orange

In [ ]:
#Write a code to create a list with numbers 1 to 5 and print it.
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
nums= [1,2,3,4,]
nums.append(10)
print(nums)

[1, 2, 3, 4, 10]

In [ ]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
nums=[1,2,3,4,5]
nums.remove(3)
print(nums)

[1, 2, 4, 5]

In [ ]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters=['a','b','c','d']
letters[2]

'c'

In [ ]:
#Write a code to reverse the list [10, 20, 30, 40, 50]
nums=[10,20,30,40,50]
nums.reverse()
print(nums)

[50, 40, 30, 20, 10]

In [ ]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.
values=(100,200,300)
print(values)

(100, 200, 300)

In [ ]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors=("red","green","blue","yellow")
colors_elements = colors[2:]
print(colors_elements)

('blue', 'yellow')

In [ ]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15)
nums=(10,20,5,15)
min(nums)

5

In [ ]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals=("dog","cat","rabbit")
animals.index("cat")

1

In [ ]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits=("apple","kiwi","orange")
"kiwi" in fruits

True

In [ ]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it
letters={"a","b","c"}
print(letters)

{'a', 'c', 'b'}

In [ ]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}
set = {1,2,3,4,5}
set.clear()
print(set)

set()

In [ ]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}
set1= {1,2,3,4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [ ]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1={1,2,3}
set2={3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [ ]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1={1,2,3}
set2={2,3,4}
set1.intersection(set2)

{2, 3}

In [ ]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it
dictionary={"name":"vanshika","age":"22","city":"raya mathura"}
print(dictionary)

{'name': 'vanshika', 'age': '22', 'city': 'raya mathura'}

In [ ]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict={"name":"john","age":25}
dict["country"]="USA"
print(dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [ ]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
info={"name":"alice","age":30}
info.get("name")

'alice'

In [ ]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
information={'name': 'Bob', 'age': 22, 'city': 'New York'}      # we can use pop() as well to remove age:- information.pop("age")
del information['age']
print(information)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict= {'name': 'Alice', 'city': 'Paris'}
if "city" in dict:
    print("key 'city' exists")
else:
    print("key 'city' not exists")

key 'city' exists

In [ ]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
list=[1,2,3]
tuple=(4,5,6)
dict={7:"vanshika",8:"ujjwal",9:"family"}
print(list)
print(tuple)
print(dict)

[1, 2, 3]
(4, 5, 6)
{7: 'vanshika', 8: 'ujjwal', 9: 'family'}

In [6]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
nums=[random.randint(1,100),random.randint(1,100),random.randint(1,100),random.randint(1,100),random.randint(1,100)]
nums.sort()
print(nums)

[14, 16, 51, 68, 70]

In [8]:
#Write a code to create a list with strings and print the element at the third index
list=["vanshika","arya" ,"ujjwal","jash"]
print(list[3])

jash

In [ ]:
#Write a code to combine two dictionaries into one and print the result
dict1={1:"one",2:"two"}
dict2={3:"three",4:"four"}
dict1.update(dict2)
print(dict1)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [9]:
#Write a code to convert a list of strings into a set
list=["vanshika","arya","darshu","ujjwal"]
set_new=set(list)
print(set_new)

{'darshu', 'ujjwal', 'vanshika', 'arya'}